# frozen_string_literal: true

forge "http://forge.puppetlabs.com"

moduledir File.join(File.dirname(__FILE__), 'modules')

mod 'local', local: true

mod 'deploy_pe',
  :git => 'https://github.com/jarretlavallee/puppet-deploy_pe.git'

mod 'puppetlabs-ruby_task_helper', '0.3.0'
mod 'puppetlabs-apt', '7.1.0'
mod 'puppetlabs-stdlib'
mod 'puppetlabs-bootstrap', '1.0.0'
mod 'puppetlabs-puppet_conf', '0.3.1'
mod 'nate-purge_node', '1.3.1'
mod 'sign_cert',
  :git => 'https://github.com/m0dular/sign_cert.git'
