---
# This example set uses Bolt tasks and plans to deploy the PE nodes
# Please ensure to have bolt installed on the machine
# Please also ensure to copy the `Puppetfile.example` to `Puppetfile` 
# and run `vagrant bolt puppetfile install` in the root of this directory
#
# The PE version and parameters can be changed in the roles at the bottom
# of this file.

vm_defaults:
  bolt:
    run_as: root
  box: bento/centos-7

vms:
  - name: master
    hostname: master.puppetdebug.vlan
    roles:
      - pe_master
      - medium-size
      - base

  - name: compiler
    hostname: compiler.puppetdebug.vlan
    roles:
      - pe_compiler
      - medium-size
      - base

  - name: agent
    roles:
      - pe_agent
      - small-size
      - base

  - name: foss-master
    hostname: foss-master.puppetdebug.vlan
    roles:
      - foss_master
      - medium-size
      - base

  - name: foss-compiler
    hostname: foss-compiler.puppetdebug.vlan
    roles:
      - foss_compiler
      - medium-size
      - base

  - name: foss-agent
    hostname: foss-agent.puppetdebug.vlan
    roles:
      - foss_agent
      - small-size
      - base

# Roles to be used with the VMs
# Bolt Provisioner and Trigger settings deploy and install PE using plans
# More information on the syntax and usage of bolt in this file can be found in https://github.com/oscar-stack/vagrant-bolt#config-builder
roles:
  pe_agent:
    bolt_triggers:
      - trigger_type: :after
        trigger_commands:
          - :up
          - :provision
        command: plan
        name: deploy_pe::provision_agent
        params:
          master: master
      - trigger_type: :before
        trigger_commands:
          - :destroy
        command: plan
        name: deploy_pe::decom_agent
        params:
          master: master


  pe_master:
    provisioners:
      - type: bolt
        command: plan
        name: deploy_pe::provision_master
        params: # More parameters are avilable see https://forge.puppet.com/jarretlavallee/deploy_pe/reference
          # installer_tarball: /vagrant/puppet-enterprise-2019.1.1-el-7-x86_64.tar.gz # Local tarball in the vagrant directory
          # download_url: http://example.com/pe/puppet-enterprise-2019.1.1-el-7-x86_64.tar.gz # Download the tarball from the specified URL
          version: 2019.1.1 # Download the PE tarball from puppet.com
          pe_settings:
            password: puppetlabs

  pe_compiler:
    provisioners:
      - type: bolt
        command: plan
        name: deploy_pe::provision_compiler
        params:
          master: master
    bolt_triggers:
      - trigger_type: :before
        trigger_commands:
          - :destroy
        command: plan
        name: deploy_pe::decom_agent
        params:
          master: master

  foss_master:
    provisioners:
      - type: bolt
        command: plan
        name: install_puppet::provision_master
        params:
          master: foss-master

  foss_compiler:
    provisioners:
      - type: bolt
        command: plan
        name: install_puppet::provision_compiler
        params:
          master: foss-master
          compiler: foss-compiler

  foss_agent:
    provisioners:
      - type: bolt
        command: plan
        name: install_puppet::provision_agent
        params:
          master: foss-master

