---
# This stack is a simple Compile master environment with a Primary Master, Compile Master, and an agent
# The result of `vagrant up` should be a provisioned environment with a compile master with the name puppet.puppetdebug.vlan
ssh:
  insert_key: false

vms:
  - name: pe-201815-master
    debug-kit: true
    box: bento/centos-7
    provisioners:
        - type: pe_bootstrap
          answer_extras:
            - '"pe_install::puppet_master_dnsaltnames": ["puppet.puppetdebug.vlan","puppet"]'
    roles:
      - pe-memory-tuning2
      - pe-forward-console
      - medium-size
      - base

  - name: pe-201815-compile
    debug-kit: true
    box: bento/centos-7
    provisioners:
      - type: shell
        inline: |-
            mkdir -p /etc/puppetlabs/puppet
            printf "[main]\ndns_alt_names = puppet.puppetdebug.vlan,puppet" >> /etc/puppetlabs/puppet/puppet.conf

      - type: pe_agent
    roles:
      - medium-size
      - pe-forward-console
      - dns_alt_names
      - base

  - name: pe-201815-agent
    debug-kit: true
    box: bento/centos-7
    roles:
      - small-size
      - base

roles:
  dns_alt_names:
    provisioners:
      - type: hosts
        name: 'base networking'
        exports:
          openstack:
            - ['@facter_ipaddress', ['puppet.puppetdebug.vlan', 'puppet']]
          global:
            - ['@vagrant_ssh', ['puppet.puppetdebug.vlan', 'puppet']]

# vim: set ft=yaml:
