---
vms:

  # NOTE: All `box:` declarations in this example point to vagrantcloud.com
  # and require Vagrant 1.5.0 or newer to function.

  - name: pe-381-master
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - pe-forward-console
      - el-stop-firewall
      - el-fix-path
      - 4gb-memory
      - base

  - name: pe-381-agent
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - el-stop-firewall
      - el-fix-path
      - base

  - name: pe-372-master
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - pe-forward-console
      - el-stop-firewall
      - el-fix-path
      - 4gb-memory
      - base

  - name: pe-372-agent
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - el-stop-firewall
      - el-fix-path
      - base

  - name: pe-332-master
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - pe-forward-console
      - el-stop-firewall
      - el-fix-path
      - 1gb-memory
      - base

  - name: pe-332-agent
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - el-stop-firewall
      - el-fix-path
      - base


  - name: poss-head-master
    box: puppetlabs/centos-6.6-64-nocm
    hostname: poss-head-centos.puppetdebug.vlan
    roles:
      - poss-envpuppet
      - el-6-ruby193
      - el-stop-firewall
      - base

# vim: set ft=yaml:
