---
vms:
  - name: pe-301-master
    hostname: pe-301-master.puppetdebug.vlan
    box: centos-64-x64-vbox4210-nocm
    roles:
      - pe-forward-console
      - el-stop-firewall
      - pe-301-master
      - base

  - name: pe-301-agent-centos64
    box: centos-64-x64-vbox4210-nocm
    hostname: pe-301-agent-centos64.puppetdebug.vlan
    roles:
      - el-stop-firewall
      - pe-301-agent
      - base
